---
import Work from "../assets/icons/Work.astro"
import { EXPERIENCE } from '../constants/Experience'

function renderFormattedText(text: string) {
  return text.split('\n\n').map(paragraph => 
    `<p class="text-base text-black/70 md:text-lg 2xl:text-xl whitespace-pre-wrap mb-4 dark:text-neutral-200">${paragraph}</p>`
  ).join('');
}
---

<section 
    class="w-full flex flex-col justify-start"
    id="experiencia"
>
    <div class="flex flex-col gap-12">
        <div class="flex gap-3">
            <Work />
            <h2 class="text-3xl text-black/80 font-bold dark:text-white">Experience</h2>
        </div>
        <ul class="relative border-s border-neutral-400">
            {EXPERIENCE.map((item) => (
              <li class="mb-16 pl-4 relative">
                <div class="absolute size-3 rounded-full mt-1.5 -start-1.5 border border-sky-900 bg-sky-500"></div>
                <article>
                  <time class="mb-2 text-lg font-normal text-neutral-400 2xl:text-xl">
                    {item.date}
                  </time>
                  <h3 class="text-xl mt-3 font-semibold text-sky-500 mb-1 2xl:text-2xl">
                    {item.title}
                  </h3>
                  <div class="mb-4 text-pretty text-base text-neutral-200 md:text-lg 2xl:text-xl whitespace-pre-wrap" set:html={renderFormattedText(item.description)}></div>
                  <ul class="flex gap-4 m-0 pt-3 container-cards-stack-experience">
                    {item.stack?.map((stackItem) => (
                      <li class="self-start bg-stone-200 py-1 px-3 rounded-xl backdrop-blur-sm dark:bg-white/15">
                        <p>{stackItem}</p>
                      </li>
                    ))}
                  </ul>
                </article>
              </li>
            ))}
          </ul>
    </div>
</section>

<style>
  .container-cards-stack-experience{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        125px,
        1fr
      )
    );
  }
</style>